* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: linear-gradient(90deg, rgb(116, 140, 171), rgb(62, 92, 118));
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 50%;
  min-height: 600px;
  background: rgb(57, 61, 63);
  text-align: center;
  margin: 100px auto;
  border-radius: 30px;
  padding-bottom: 30px;
}

h1 {
  margin: 32px 12px;
  color: #fff;
  font-size: 24px;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgb(168, 218, 220);
  outline: none;
  width: 200px;
  background: #fff;
  color: #000000;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(168, 218, 220) 0%,
    rgb(69, 123, 157) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid rgb(168, 218, 220);
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgb(168, 218, 220) 0%,
    rgb(69, 123, 157) 100%
  );
  padding: 17px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: rgb(27, 27, 27);
  background: linear-gradient(90deg, rgb(237, 220, 210), rgb(203, 153, 126));
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgb(183, 183, 164) 0%,
    rgb(133, 133, 102) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgb(252, 213, 206) 0%,
    rgb(181, 131, 141) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgb(168, 220, 179) 0%,
    rgb(136, 165, 140) 100%
  );
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
